[submodule "submodule/fflas-ffpack"]
	path = submodule/fflas-ffpack
	url = https://github.com/ylilarry/fflas-ffpack.git
[submodule "submodule/OpenBLAS"]
	path = submodule/OpenBLAS
	url = https://github.com/ylilarry/OpenBLAS.git
[submodule "submodule/givaro"]
	path = submodule/givaro
	url = https://github.com/ylilarry/givaro.git
[submodule "submodule/linbox"]
	path = submodule/linbox
	url = https://github.com/ylilarry/linbox
