[submodule "submodule/fflas-ffpack"]
	path = submodule/fflas-ffpack
	url = https://github.com/linbox-team/fflas-ffpack.git
[submodule "submodule/OpenBLAS"]
	path = submodule/OpenBLAS
	url = https://github.com/xianyi/OpenBLAS.git
[submodule "submodule/givaro"]
	path = submodule/givaro
	url = https://github.com/linbox-team/givaro.git
[submodule "submodule/linbox"]
	path = submodule/linbox
	url = https://github.com/linbox-team/linbox
